body
  font-family: 'Fira Sans', sans-serif

*
  margin: 0
  padding: 0

a
  color: red
  text-decoration: none

  &:hover
    text-decoration: underline 1px dotted
    color: red

#first-page
  text-align: center

  h1
    margin-top: 15%
    font-weight: lighter
    font-size: 48pt
    color: #999

  ul
    margin-top: 25px
    li
      display: inline
      margin-right: 10px
      font-size: 10pt

#info-page

  h1
    font-size: 30pt

  h2
    font-size: 16pt

  h1, h2
    color: #999

  header
    padding: 15px
    text-align: right
    position: fixed
    top: 0
    width: 100%
    background: white

    h1
      color: red
      font-size: 20pt

  .info-vspace
    margin-bottom: 10%

  .info-row
    margin-left: 20px
    margin-top: 25px
    border-bottom: 1px dotted #999
    padding-bottom: 7px

    .image
      text-align: center
      padding: 20px
      img
        height: 250px


footer
  height: 100px
