html
  head
    title = current_page.data.title
    link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    = stylesheet_link_tag "site"
    meta name="viewport" content="width=device-width, initial-scale=1"
    link href="https://fonts.googleapis.com/css?family=Fira+Sans&display=swap" rel="stylesheet"
  body
    #info-page
      header
        h1 = link_to 'Mind As Lab', '/'
      .info-vspace
      
      = yield

      footer
