---
title: Mind As Lab - Contact
layout: info-pages
---

.container-fluid
  .row
    .col-md-4.offset-md-4
      h1 Contact Us

      .info-row
        h2 Pari Margu
        | +91 6380 74 5611
        br
        = mail_to 'indiacloudtv@gmail.com'

      .info-row
        h2 Karthikeyan.A.K
        | +91 8428 05 0777
        br
        = mail_to 'mindaslab@protonmail.com'
