---
title: Mind As Lab Technological Consultation and Services
---
#first-page
  h1 Mind As Lab

  ul
    li = link_to "Services", '/services.html'
    li = link_to "Technology", "#"
    li = link_to "Publications", "#"
    li = link_to "Open Soruce", "#"
    li = link_to "Contact", '/contact.html'

