---
title: Mind As Lab - Services
layout: info-pages
---

.container-fluid
  .row
    .col-md-6.offset-md-3

      h1 Services Offered

      .info-row
        h2 Web Development With Ruby on Rails

        .image
          img src="https://bsdmag.org/wp-content/uploads/2016/05/Ruby_on_Rails.svg_.png"

        p
          | We @ Mind As Lab are master's of web development. We have more than 15 years of
          | &nbsp;experience in this area. One of our founder's is the author of I Love Ruby, one
          | &nbsp;of the most widely read Ruby programming books. We can assure you that we can
          | &nbsp;develop any conceivable web application.

      .info-row
        h2 Data Analysis and Machine Learning

        .image
          img src="https://images.techhive.com/images/article/2015/07/machine_learning-100597267-primary.idge.jpg"

        p
          | Is your business generating a lot of data? You may be able to turn your data to
          | &nbsp;Gold by using it to run your business in an much more efficient way. We at Mind
          | &nbsp;As Lab could help you to achieve that.

        p
          | Our team of Data Scientist's and Mathematicians, can analyze your business,
          | &nbsp;prepare great reports and dashboards which helps you monitor your business real
          | &nbsp;time. Use your past data to predict your future business trends and sales. If
          | &nbsp;you this is the right thing you need, give us a call.


      .info-row
        h2 Big Data with Apache Spark

        p To be defined

      .info-row
        h2 Linux Server Maintainance and AWS

        p To be defined
